[Unit]
Description=Caddy reverse proxy for XRay Uptime Monitor
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
User=root
Group=root
WorkingDirectory=/root/uptime/caddy
EnvironmentFile=/root/uptime/.env
Environment=XDG_DATA_HOME=/root/uptime/caddy/data
Environment=XDG_CONFIG_HOME=/root/uptime/caddy/config
ExecStart=/usr/bin/caddy run --environ --config /root/uptime/caddy/Caddyfile
ExecReload=/usr/bin/caddy reload --config /root/uptime/caddy/Caddyfile
TimeoutStopSec=5s
LimitNOFILE=1048576
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
